<!--<rainbow-hover></rainbow-hover>
<hr>
<rainbow-listener></rainbow-listener>
<hr>
<h1 rainbowClick>Dame Click</h1> -->
<custom-header>
  <nav>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Home</a>
      &nbsp;
    <a
      routerLink="users"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Users</a>

      &nbsp;
      <a
        routerLink="search"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Search</a>
    
        &nbsp;
        <a
          routerLink="generador"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Generador</a>

          &nbsp;
          <a
            routerLink="gen2"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">gen2</a>
  
            &nbsp;
            <a
              routerLink="dinamico"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Dinamico</a>
            
            &nbsp;
              <a
                routerLink="estructural"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Estructural</a>
      
                &nbsp;
                <a
                  routerLink="examen"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}">Examen</a>
        
  </nav>


</custom-header>
<router-outlet></router-outlet>
